In [2]:
print("Olá mundo")

Olá mundo

In [2]:
pip install pyspark

Requirement already satisfied: pyspark in /home/codespace/.python/current/lib/python3.12/site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /home/codespace/.python/current/lib/python3.12/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install Spark

Requirement already satisfied: Spark in /home/codespace/.python/current/lib/python3.12/site-packages (0.2.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install SparkSession

ERROR: Could not find a version that satisfies the requirement SparkSession (from versions: none)
ERROR: No matching distribution found for SparkSession
Note: you may need to restart the kernel to use updated packages.

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Exemplo Simples Spark SQL") \
    .getOrCreate()

data = [("Alice", 24), ("Bob", 30), ("Charlie", 32)]
columns = ["Nome", "Idade"]

df = spark.createDataFrame(data, columns)

df.createOrReplaceTempView("Pessoas")

resultado = spark.sql("SELECT Nome From Pessoas WHERE Idade > 25")
resultado.show()

spark.stop()

25/03/29 00:11:08 WARN Utils: Your hostname, codespaces-608726 resolves to a loopback address: 127.0.0.1; using 10.0.3.190 instead (on interface eth0)
25/03/29 00:11:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/29 00:11:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+-------+
|   Nome|
+-------+
|    Bob|
|Charlie|
+-------+

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Exemplo Simples SQL") \
    .getOrCreate()

data = [("Alice", 20,"Matematica"), ("Bob", 22, "Físico"), ("Charlie", 19, "Química"), ("Leonardo", 21, "Biologia")]
columns = ["Nome", "Idade", "Cursos"]

df = spark.createDataFrame(data, columns)

df.createOrReplaceTempView("Estudantes") 

print("Estudantes com mais de 20:")
spark.sql("SELECT * FROM Estudantes WHERE Idade > 20").show() 

print ("Número de estudantes por Curso:")
spark.sql("SELECT Curso, COUNT(*) AS Total FROM Estudantes GROUP BY Curso").show()

print ("Idade Média dos Estudantes:")
spark.sql("SELECT AVG(idade) AS IdadeMedia FROM Estudantes").show()


spark.stop()

Estudantes com mais de 20:

+--------+-----+--------+
|    Nome|Idade|  Cursos|
+--------+-----+--------+
|     Bob|   22|  Físico|
|Leonardo|   21|Biologia|
+--------+-----+--------+

Número de estudantes por Curso:

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Curso` cannot be resolved. Did you mean one of the following? [`Cursos`, `Nome`, `Idade`].; line 1 pos 7;
'Aggregate ['Curso], ['Curso, count(1) AS Total#32L]
+- SubqueryAlias estudantes
   +- View (`Estudantes`, [Nome#10,Idade#11L,Cursos#12])
      +- LogicalRDD [Nome#10, Idade#11L, Cursos#12], false